/*      J'initalise les margins et paddings de ma page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .carres, #copie{
    display: flex;
    justify-content: center; /* centre les carres horizontalement */
    align-items: center; /* centre les carres verticalement*/
}

body{
    background-color: beige;
    height: 100vh;
    flex-direction: column; /* pour que les carre soit aligner de gauche a droite */
    .carres{
        flex-direction: row; /* pour que les carre soit aligner de gauche a droite */

        .carre{
            height: 200px;
            width: 200px;
            margin: 2px;
        }
        #cyan{
            background-color: cyan;
        }
        #maroon{
            background-color: maroon;
        }
        #vert{
            background-color: green;
        }
        #jaune{
            background-color: yellow;
        }
        #copie{
            font-size: larger;
        }
    }
}