/*      J'initalise les margins et paddings de ma page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .carres,#un,#deux,#trois,#quatre{
    display: flex;
    justify-content: center; /* centre les carres horizontalement */
    align-items: center; /* centre les carres verticalement*/
    
}

body{
    background-color: beige;
    height: 100vh;
    flex-direction: column; /* pour que les carre soit aligner de gauche a droite */
    .carres{
        width: 450px;
        flex-direction: row; /* pour que les carre soit aligner de gauche a droite */
        flex-wrap: wrap;

        .carre{
            height: 200px;
            width: 200px;
            margin: 2px;
            background-color: green;
            color: white;
            font-size: x-large;
        }
    }
}
.styleToggle{
    rotate: 360deg;
    transition: 0.5s ease-in-out;
    background-color: red !important; /* je lui dit que passer cette ligne avant le background green*/
    scale: 0.9;
    }
